@model SocialBookmarkingApp.Models.Comment

@{
    ViewData["Title"] = "Editează Comentariu";
}

<h2>Editează Comentariu</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Comments", method: FormMethod.Post, routeValues: new { id = Model.Id })) {
    <div class="form-group">
        <label asp-for="Content">Text Comentariu:</label>
        @Html.TextAreaFor(model => model.Content, new { @class = "form-control" } )
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="Id"/>

    <button type="submit" class="btn btn-primary mt-3">Salvează modificările</button>
}
