*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
SocialBookmarkingApp/[Dd]ebug/
SocialBookmarkingApp/[Dd]ebugPublic/
SocialBookmarkingApp/[Rr]elease/
SocialBookmarkingApp/[Rr]eleases/
SocialBookmarkingApp/x64/
SocialBookmarkingApp/x86/
SocialBookmarkingApp/build/
SocialBookmarkingApp/bld/
SocialBookmarkingApp/[Bb]in/
SocialBookmarkingApp/[Oo]bj/
SocialBookmarkingApp/[Oo]ut/
SocialBookmarkingApp/msbuild.log
SocialBookmarkingApp/msbuild.err
SocialBookmarkingApp/msbuild.wrn