.bookmark {
    @media screen and (min-width: 768px) {
        width: calc(50% - 20px);
    }
    @media screen and (min-width: 992px) {
        width: calc(33.33% - 20px);
    }
    @media screen and (min-width: 1200px) {
        width: calc(25% - 20px);
    }
    margin: 10px;
}

.bookmark-title{
    color: white;
    text-shadow: 0 0 10px black;
}

.card-title {
    color: black;
}

.card-title>img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}