<h1> Bookmarks </h1>

<br />

<div class="bookmark-container">

@foreach( SocialBookmarkingApp.Models.Bookmark bookmark in ViewBag.bookmarks)
{
        @Html.Partial("_BookmarkCard", bookmark)
}

</div>

<!-- Buton de adaugare al bookmark-urilor-->
<a href="/Bookmarks/New" class="btn btn-primary">Add Bookmark</a>
<a href="/Categories/New" class="btn btn-primary">Add Category</a>

<br />

@section Scripts {
    <script>
    $(() => {
        const container = document.querySelector('.bookmark-container');
        const msnry = new Masonry(container, {
            // options
            itemSelector: '.bookmark',
        });
        console.log(container, msnry);
        });
    </script>
}