@model ApplicationUser

@* <h1>Aici ar trb sa apara bookmark-urile salvate pentru userul @Model.Email</h1> *@

@{
    ViewData["Title"] = "Saved";
}
<a class="btn-primary btn" href="/Categories/New">Adauga Categorie</a>
@foreach( var category in Model.Categories)
{
    <h1>@category.CategoryName</h1>
    <div class="bookmark-container-@category.Id">
    @foreach( var bookmark in category.Bookmarks)
    {
        @Html.Partial("_BookmarkCard", new BookmarkViewModel {
            Bookmark = bookmark
        })
    }
    </div>
}

@section Scripts {
    <script>
        $(() => {
        const ids = @Json.Serialize(Model.Categories.Select(c => c.Id));
        ids.forEach(id => {
            const container = document.querySelector(`.bookmark-container-${id}`);
            const msnry = new Masonry(container, {
                // options
                itemSelector: '.bookmark',
            });
            // console.log(container, msnry);
        });
        });
    </script>
}
