
@model SocialBookmarkingApp.Models.Category
@{
    ViewBag.Title = "Adaugă Categorie";
}

<h2>Add Category</h2>

@using (Html.BeginForm("CreateCategory", "Categories", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryName, "Category Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CategoryName, null, new { @class = "text-danger" })
        </div>
    </div>

    <!-- Alte câmpuri pentru alte proprietăți, dacă există -->

    <div class="form-group mt-2">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Adaugă Categorie" class="btn btn-success" />
        </div>
    </div>
}

