@model SocialBookmarkingApp.Models.Category

@{
    ViewBag.Title = "Șterge Categorie";
}

<h1>Categorii</h1>
<br />
<h1> aici punem creare categorii </h1>
@foreach (var category in ViewBag.categories)
{
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@category.CategoryName</h3>
        </div>
        <div class="card-body">
            <form method="post" action="/Categories/Delete/@category.Id">
<button class="btn btn-danger" type="submit">Șterge Categorie</button>
            </form>
            <form method="post" action="/Categories/Edit/@category.Id">
<button class="btn btn-success" type="submit">Editează Categorie</button>
            </form>
        </div>
    </div>
    <br />
}



